* {
    margin: 0;
    padding: 0;
    font-family: "Raleway", "Open Sans", Arial, Helvetica, sans-serif;
  }
  
  html,
  body {
    height: 100%;
  }

  .body_admin {
      width: 100vw;
      height: 100vh;
      background-image: url(../img/medicos.png);
  }

  .box_cadastro {

  }

  .conteudo_cadastro {
      width : 55vw;
      height: 100vh;
  }

  .teste {
      display: flex;
      flex-direction: column;
      justify-content: center;
      justify-content: space-around;
      align-items: center;
      background-color: white;
      height : 40vh;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
  }

  .box_form {
      width: 535px;
  }

  .form_admin {
      display:flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      height : 85px;
  }

  .form_admin button {
      background-color: #2C05EB;
      color: white;
      border: none;
  }

  .inputs {
      display: flex;
      justify-content: space-between;
      height: 25px;
  }

  .conteudo_admin {
      display: flex;
      justify-content: center;
      background-color: white;
      margin-top: 40px;
      border-radius: 7px;
  }